@use '../../../common/variables' as *;

.pictures {
  background: url(../../../images/macbook-pictures-big.png) center no-repeat;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 1.25/1),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
  .pictures {
    background-image: url(../../../images/macbook-pictures-big@2x.png);
  }
}

.name,
.title,
.description,
.price,
.pictures,
.form,
.image {
  transition:
    $page-transition-duration transform,
    $page-transition-duration opacity;
  transition-delay: 0.5s;
}

:global([class$='-enter']) {
  .name,
  .title {
    transform: translateX(-50px);
    opacity: 0;
  }

  .description {
    transform: translateX(50px);
    opacity: 0;
  }

  .image {
    opacity: 0.2;
  }

  .price {
    opacity: 0;
  }

  .pictures,
  .form {
    transform: translateY(50px);
  }
}
