@use '../../../globals/variables' as *;

.details,
.extra {
  transition:
    $page-transition-duration transform,
    $page-transition-duration opacity;
  transition-delay: 0.3s;
  transition-timing-function: ease-in-out;
}

:global([class$='-enter']) {
  .details {
    transform: translateX(-50px);
    opacity: 0;
  }

  .extra {
    transform: translateY(50px);
    opacity: 0;
  }
}
