.textContent {
  background: linear-gradient(90deg, #f2f2f2 0%, #ffffff00 100%) 0% 0% no-repeat;
}

.name {
  color: #ff3b30;
}

.title {
  color: black;
}

.description {
  color: #999999;
}

.price a {
  color: #ff3b30;
}
