.product-details--iphone {
  .product-text {
    background: linear-gradient(90deg, #F2F2F2 0%, #FFFFFF00 100%) 0% 0% no-repeat;
  }
  
  .product-name {
    color: #FF3B30;
  }

  .product-title {
    color: black;
  }

  .product-description {
    color: #999999;
  }

  .product-price a {
    color: #FF3B30;
  }
}
