.product-details--iphone {
  .product-text {
    background: linear-gradient(90deg, #f2f2f2 0%, #ffffff00 100%) 0% 0%
      no-repeat;
  }

  .product-name {
    color: #ff3b30;
  }

  .product-title {
    color: black;
  }

  .product-description {
    color: #999999;
  }

  .product-price a {
    color: #ff3b30;
  }
}
