$page-transition-duration: .7s;

// TODO: use full-fledged normalize/reset styles 
// for consistent default styling across browsers.
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
}

.app-route-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide-from-right {
  &-enter {
    transform: translateX(100%);
    transition: $page-transition-duration all;
  }

  &-enter-active {
    transform: translateX(0);
  }

  &-exit {
    transform: translateX(0);
    transition: $page-transition-duration all;
  }

  &-exit-active {
    transform: translateX(-100%);
  }
}

.slide-from-bottom {
  &-enter {
    transform: translateY(100%);
    transition: $page-transition-duration all;
  }

  &-enter-active {
    transform: translateY(0);
  }

  &-exit {
    transform: translateY(0);
    transition: $page-transition-duration all;
  }

  &-exit-active {
    transform: translateY(-100%);
  }
}

.cross-fade {
  &-enter {
    opacity: 0;
    transition: $page-transition-duration all;
  }

  &-enter-active {
    opacity: 1;
  }

  &-exit {
    opacity: 1;
    transition: $page-transition-duration all;
  }

  &-exit-active {
    opacity: 0;
  }
}