.detailsContainer {
  padding-left: 100px;
}

.details {
  display: flex;
}

.textContent {
  width: 55%;
  padding: 84px 90px;
}

.image {
  width: 45%;
  position: relative;

  img {
    position: absolute;
  }
}

.name {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 17px;
}

.title {
  font-size: 100px;
  line-height: 110px;
  font-weight: bold;
  margin-bottom: 70px;
}

.description {
  font-size: 25px;
  line-height: 35px;
}

.extra {
  padding: 84px 90px;
}

.price {
  font-size: 50px;
  color: #cccccc;
  font-weight: bold;

  a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    text-decoration: none;
  }
}
